src/CMakeCache.txt
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
*.cmake
*.cxx
*.cxx_parameters
src/resources/speedcrunch.qrc.depends
src/speedcrunch
src/testevaluator
src/testfloatnum
src/testhmath
src/CMakeLists.txt.user
src/speedcrunch.pro.user
Testing
doc
moc_*.cpp
*.log
*_automoc.cpp
testcmath
testdmath
testser
